{% load staticfiles  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
          <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

</head>
<body>
{% if isEmpty %}
<div><h1>you have no employees in the system</h1></div>
{% else %}
<div><h1>Employees Information</h1></div>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">CC</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Position</th>
      <th scope="col">Type Contract</th>
      <th scope="col">Hourly Salary</th>
      <th scope="col">Annual Salary</th>

    </tr>
  </thead>
  <tbody>
    {% for employee in employees %}
  <tr>
      <th scope="row">{{ employee.cc}}</th>
      <td>{{ employee.firstName}}</td>
      <td>{{ employee.lastName}}</td>
      <td>{{ employee.position}}</td>
      {% if employee.hourly %}
      <td>Hourly Contract</td>
      {% else %}
      <td>Mountly Contract</td>
      {% endif %}
      <td>{{ employee.hourlySalary }}</td>
      <td>{{ employee.annualSalary }}</td>
    </tr>
   {% endfor %}
  </tbody>
</table>

{% endif %}
</body>
</html>